md-toast.md-success-toast-theme .md-toast-content{
    background-color: green;
}

.video-container {
  text-align: center;
}

table.md-table th.md-column, table.md-table td.md-cell {
  color: #fff;
}

.green {
  color: green;
}

.red {
  color: #ee5555;
}
